# Copy this file to .env and replace the credentials with
# your own before starting the app.

# Watson Discovery
DISCOVERY_APIKEY=
DISCOVERY_URL=
DISCOVERY_ENVIRONMENT_ID=
DISCOVERY_COLLECTION_ID=

# Db2 access
DB2WH_DSN=''

#settings
WRITE_TO_CSV_FILE=false